  body
  {
    color: rgb(200, 111, 111);
    background: rgb(165, 15, 15);
   font-family: 'Sunshiney', cursive;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .nameOfObjects, #resultObjectName  , #resultObjectAccuracy
  {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  img
  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  